@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@theme {
  --color-primary-1: #e6eefa;
  --color-primary-2: #c2d5f3;
  --color-primary-3: #91b5e9;
  --color-primary-4: #5ee2df;
  --color-primary-5: #2c71d8;
  --color-primary-6: #0052cc;
  --color-primary-7: #0046ba;
  --color-primary-8: #003a91;
  --color-primary-9: #002f74;
  --color-primary-10: #00255c;
  --color-primary: #0052cc; /* Default primary */

  /* Secondary colors */
  --color-secondary-1: #f0ff12;
  --color-secondary-2: #dedd41;
  --color-secondary-3: #bfc2c8;
  --color-secondary-4: #a2a8af;
  --color-secondary-5: #868b97;
  --color-secondary-6: #6b7280;
  --color-secondary-7: #5b616d;
  --color-secondary-8: #4c515b;
  --color-secondary-9: #3d4149;
  --color-secondary-10: #30333a;
  --color-secondary: #6b7280; /* Default secondary */

  /* Accent colors */
  --color-accent-1: #fff2e9;
  --color-accent-2: #fffdca;
  --color-accent-3: #ffc6a0;
  --color-accent-4: #ffab73;
  --color-accent-5: #ff9249;
  --color-accent-6: #ff7a21;
  --color-accent-7: #d9831c;
  --color-accent-8: #b55717;
  --color-accent-9: #914613;
  --color-accent-10: #79370f;
  --color-accent: #ff7a21; /* Default accent */

  /* Neutral colors */
  --color-neutral-1: #ffffff;
  --color-neutral-2: #fcfcfc;
  --color-neutral-3: #f5f5f5;
  --color-neutral-4: #f0f0f0;
  --color-neutral-5: #e1e1e1;
  --color-neutral-6: #bfbfbf;
  --color-neutral-7: #8c8c8c;
  --color-neutral-8: #595959;
  --color-neutral-9: #454545;
  --color-neutral-10: #262626;
  --color-neutral: #8c8c8c; /* Default neutral */
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .global-px {
    @apply px-4 md:px-10;
  }
}